body {
  position: absolute;
  margin: 0;
  font-family: "Monaco";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white; 
}

html{
  background-image: linear-gradient(midnightblue, dimgrey);
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  position: sticky;
  top: 0;
  width:1200px;
  height:100vh;
  display: grid;
  grid-template-areas: 
    "logo player"
    "nav content";
  grid-template-columns: 210px auto;
  grid-template-rows: 65px auto;
}

aside {
  grid-area: nav;
  display:flex;
  position: sticky;
  top: 0;
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
  /* height: 500px; */
}

.navlink {
  color:white;
  border-radius: 50px;
  border: 5px solid black;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  width: 150px;
}

.active{
  color: green;
  font-style: italic;
  margin-left: 20px;
}

.MuiTypography-colorTextSecondary{
  color:white;
}

section {
  grid-area: content;
}

h4 {
  margin: 5px;
}

#player-div {
  grid-area: player;
  position:sticky;
  top:0;
  z-index:2;
  background-color:none;
}

.welcome-div {
  grid-area: content;
  align-items: center;
  text-align: center;
  line-height: 1.7;
  background-color: rgba(0,0,0,0.5);
  width: 300px;
  height: 300px;
  padding:10px;
  border-radius: 25px;
}

.podcast-grid {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid;
  border-radius: 25px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  height:300px;
  overflow-x: auto;
}

.podcast-grid img {
  width: 175px;
  height: 175px;
}

.podcast-div{
  border: 1px solid;
  text-align: center;
  border-radius: 25px;
 
  height:290px;
  min-width:220px;
  z-index: 1;
}

.episode-container {
  height: auto;
}

.result-div {
  overflow-y: scroll;
  flex-direction: column;
}

.material-icons {
  color:white;
}
.material-icons:hover{
  color:forestgreen;
  cursor: pointer;
}

.description{
  display: inline-flex;
  border: 1px solid;
  border-radius: 15px;
  width: 800px;
  margin: 10px 0px 10px 0px;
  padding: 8px 8px 8px 8px;
  box-sizing: border-box;
  background-color: 'rgba(144,144,144,0.5)';
}

.description-text{
  flex-direction: column;
  margin-left: 10px;
  padding: 3px 3px 3px 3px;
}

.description img {
  width:125px;
  height:125px;
}
