body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: grid;
  grid-template-areas: 
    "logo player" 
    "nav content";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 2fr;
}

aside {
  grid-area: nav;
  display:inline-flex;
  position: sticky;
  height: 500px;
  top: 0;
  padding: 2em;
  flex-direction: column;
}

section {
  grid-area: content;
}

#player-div {
  grid-area: player;
  position:sticky;
  top:0;
  z-index:1;
  background-color:white;
}

.welcome-div {
  grid-area: content;
  align-items: center;
  line-height: 1.5;
}

.episode-holder{
    border: 1px solid;
    border-radius: 25px;
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 25em;
    z-index: 1;
}

img {
  width: 300px;
}