body {
  position: absolute;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: 'Gill Sans';
  color: white;
  /* background-color: darkblue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  position: sticky;
  top: 0;
  width:100%;
  height:100vh;
  display: grid;
  grid-template-areas: 
    "logo player"
    "nav content";
  grid-template-columns: 200px auto;
  grid-template-rows: 100px auto;
  /* background-image: linear-gradient(grey, black); */
}

aside {
  grid-area: nav;
  display:inline-flex;
  position: sticky;
  top: 0;
  padding: 2em;
  flex-direction: column;
  /* height: 500px; */
}

section {
  grid-area: content;
}

h4 {
  margin: 5px;
}

#player-div {
  grid-area: player;
  position:sticky;
  top:0;
  z-index:2;
  background-color:none;
}

.welcome-div {
  grid-area: content;
  align-items: center;
  text-align: center;
  line-height: 1.7;
  background-color: rgba(0,0,0,0.5);
  width: 300px;
  height: 300px;
  padding:10px;
  border-radius: 25px;
}

.podcast-grid {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid;
  border-radius: 25px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  height:315px;
  overflow-x: auto;
}

.podcast-grid img {
  width: 175px;
  height: 175px;
}

.podcast-div{
  border: 1px solid;
  text-align: center;
  border-radius: 25px;
 
  height:280px;
  width:280px;
  
  z-index: 1;
  margin: 1px 4px 4px 1px;
  padding: 10px;
  box-sizing: border-box;
}

.episode-container {
  height: auto;
}

.result-div {
  overflow-y: scroll;
  flex-direction: column;
}

.material-icons {
  color:white;
}
.material-icons:hover{
  color:forestgreen
}

.description{
  border: 1px solid;
  border-radius: 25px;
  width:1000px;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
}
